@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$pink: #ffbee0;
$white: #e1e2e3;
$black: #1f1e1d;
$illuminating: #f3df4d;
$ultimateGray: #96999c;
$fontColor: #4e4e4e;
$greyToggle: #424242;
$darkBg: #323232;
$darkerBg: #261a1a;

$modalBg: linear-gradient(to top, $white, $pink);
$darkBgGradient: linear-gradient(to bottom, $darkBg, $darkerBg);

html,
body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $pink;
}

a {
  text-decoration: none;
  color: inherit;
}

.component {
  &__section {
    padding: 1rem;
  }
  &__toggle {
    .MuiSwitch-switchBase.Mui-checked {
      color: $greyToggle;
    }
    .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
      background-color: $greyToggle;
    }
  }
}

.image {
  margin-top: 1rem;
  &__top {
    object-fit: fill;
    width: 100%;
  }
  &__bio {
    object-fit: contain;
    width: 100%;
    border: 1px solid black;
  }
  &__line {
    object-fit: contain;
    width: 100%;
    padding: 1rem 4rem 4rem 4rem;
    &--flat {
      object-fit: contain;
      width: 100%;
      padding: 0rem 3rem 0.5rem 3rem;
    }
  }
  &__long-line {
    object-fit: contain;
    width: 100%;
    padding: 2vh 4vh 0vh 4vh;
  }
  &__long {
    object-fit: contain;
    width: 100%;
    padding: 0vh 2vh;
  }
}

.label {
  &__header {
    text-align: center;
  }

  &__home {
    h4 {
      margin: 0rem 2rem;
      text-align: center;
    }
  }

  &__contact {
    color: white;
    h2 {
      text-align: center;
    }
  }
  &__darkTheme {
    color: $white;
  }

  &__describtion-below {
    margin-block-start: -1rem;
    margin-inline-start: 2vw;
  }
}

.background {
  &__home {
    background-image: url('./IMG/cooking_background.jpg');
    background-position-y: bottom;
    background-size: cover;
    height: 67vh;
    &--dark {
      background-image: url('./IMG/cooking_background_dark.jpg');
    }
  }

  &__footer {
    background-image: url('./IMG/contact\ background.jpg');
    background-position-y: bottom;
    background-size: cover;
    color: $fontColor;
    height: 80vh;
    &--dark {
      background-image: url('./IMG/contact\ background_dark.jpg');
    }
  }

  &__navbar {
    background: $pink;
    box-shadow: 4px 10px 27px white;
    border-radius: 0 0 20px 20px;
    &--dark {
      background: $darkBg;
      .MuiButtonBase-root {
        color: $white;
      }
      .MuiToggleButton-root {
        opacity: 0.5;
      }
      .MuiToggleButton-root.Mui-selected {
        color: $pink;
        opacity: 0.9;
        background-color: rgba(0, 0, 0, 0.3);
      }
      .MuiSwitch-track {
        background-color: #ffbee0;
      }
    }
  }

  &__signature {
    border-top: 2px $illuminating solid;
    background: $ultimateGray;
  }

  &__modal {
    background: $modalBg;
    &--dark {
      background: $darkBgGradient;
      color: $white;
    }
  }
}

.position {
  &__footer {
    &--contact {
      padding: 0vh 20vw;
      h3 {
        text-align: center;
      }
    }
    &--signature {
      padding: 1px 1rem;
      color: $illuminating;
      h4 {
        text-align: center;
      }
    }
  }

  &__bio {
    padding-bottom: 1vh;
  }

  &__navbar {
    position: sticky;
    top: 0;
    &--buttons {
      display: flex;
      justify-content: center;
    }
  }

  &__header {
    text-align: center;
  }

  &__toggle {
    display: flex;
    position: absolute;
    left: 3vw;
    .MuiToggleButton-root {
      padding: 6px;
      border-radius: 0px 0px 7px 7px;
      border: none;
    }
    &--theme {
      display: flex;
      position: absolute;
      right: 0.5vw;
    }
  }

  &__modal {
    margin-top: 63vw;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    &--first-section {
      padding-bottom: 1rem;
    }
    div {
      text-align: center;
    }
    ul {
      padding-left: 10rem;
    }
  }

  &__center-div {
    text-align: center;
  }
}

@media (min-width: 36rem) /*576px*/ {
  .label {
    &__navbar {
      .MuiButton-label {
        font-size: 14pt;
        margin: 0vh 1.4vw;
      }
    }
  }

  .component {
    &__section {
      padding: 4vw 14vw;
      font-size: 14pt;
    }
  }

  .image {
    &__line {
      padding: 0rem 12vw;
    }
    &__long-line {
      padding: 2vh 10vw;
    }
    &__long {
      padding: 0vh 10vw;
    }
  }

  // .background {
  //   &__home {
  //     object-fit: fill;
  //     height: max-content;
  //     &--dark {
  //       background-image: url('./IMG/cooking_background_dark.jpg');
  //     }
  //   }

  //   &__footer {
  //     background-image: url('./IMG/contact\ background_big.jpg');
  //     height: 92vh;
  //     &--dark {
  //       background-image: url('./IMG/contact\ background_dark.jpg');
  //     }
  //   }
  // }

  .position {
    &__toggle {
      .MuiToggleButton-label {
        font-size: 14pt;
        margin: 0vw 1vw;
      }
      &--theme {
        display: flex;
        position: absolute;
        right: 1vw;
        top: 0.4vh;
      }
    }
  }
}
@media (min-width: 62rem) /*992px*/ {
  .component {
    &__section {
      padding: 8vh 18vw;
    }
  }

  .image {
    &__line {
      padding: 0rem 18vw;
      margin-top: 2vh;
    }
    &__long-line {
      padding: 2vh 17vw;
    }
    &__long {
      padding: 0vh 17vw;
    }
  }

  .background {
    &__home {
      //check on screen
      background-image: url('./IMG/cooking_background_big.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      height: 43.2vw;
      &--dark {
        background-image: url('./IMG/cooking_background_dark.jpg');
      }
    }

    &__footer {
      background-image: url('./IMG/contact\ background_big.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      height: 47vw;
      &--dark {
        background-image: url('./IMG/contact\ background_dark.jpg');
      }
    }
  }
}
