@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$pink: #ffbee0;
$white: #e1e2e3;
$black: #1f1e1d;
$illuminating: #f3df4d;
$ultimateGray: #96999c;
$fontColor: #4e4e4e;

$bgReverseGradient: linear-gradient(to top left, $white, $pink);
$footerGradient: linear-gradient(to bottom, $pink, $white);

html,
body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $pink;
}

a {
  text-decoration: none;
  color: inherit;
}

.component {
  padding: 1rem;
}

.image {
  margin-top: 1rem;
  &__top {
    object-fit: fill;
    width: 100%;
  }
  &__bio {
    object-fit: contain;
    width: 100%;
    border: 1px solid black;
  }
  &__line {
    object-fit: contain;
    width: 100%;
    padding: 1rem 4rem 4rem 4rem;
  }
  &__long-line {
    object-fit: contain;
    width: 100%;
    padding: 2vh 4vh 0vh 4vh;
  }
  &__long {
    object-fit: contain;
    width: 100%;
    padding: 0vh 2vh;
  }
}

.label {
  &__header {
    text-align: center;
  }
  &__home {
    h4 {
      margin: 0rem 2rem;
      text-align: center;
    }
  }
}

.background {
  &__home {
    background-image: url('./IMG/cooking_background.jpg');
    background-size: cover;
    height: 64vh;
  }

  &__footer {
    background-image: url('./IMG/contact\ background.jpg');
    background-size: cover;
    color: $fontColor;
    // &--pattern {
    //   background-image: url('./IMG/pattern_diagonal.png');
    // }
  }

  &__navbar {
    background: $pink;
    box-shadow: 4px 10px 27px white;
    border-radius: 0 0 20px 20px;
  }

  &__signature {
    border-top: 2px $illuminating solid;
    background: $ultimateGray;
  }
}

.position {
  &__footer {
    &--contact {
      padding: 0vh 20vw;
      h3 {
        text-align: center;
      }
    }
    &--signature {
      padding: 1px 1rem;
      color: $illuminating;
      h4 {
        text-align: center;
      }
    }
  }
  &__bio {
    padding-bottom: 1vh;
  }
  &__navbar {
    position: sticky;
    top: 0;
    &--buttons {
      display: flex;
      justify-content: center;
    }
  }
  &__header {
    text-align: center;
  }

  &__toggle {
    display: flex;
    position: absolute;
    right: 3vw;
    .MuiToggleButton-root {
      padding: 4px;
    }
  }
  &__scroll-up {
    display: flex;
    justify-content: flex-end;
    // position: absolute;
    // bottom: 1rem;
  }
}

@media (min-width: 36rem) {
}
